.signinButton {
  background-color: rgb(233, 1, 1);
  color: white;
  width: 5.2rem;
  height: 2.2rem;
  border-radius: 6px;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
}

.signinButton:hover {
  background-color: rgba(233, 1, 1, 0.8);
  cursor: pointer;
}
