.textContainer {
  text-align: center;
}

.tvContainer {
  position: relative;
  flex-basis: 50%;
}

.tvImage {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
}

.videoContainer {
  width: 100%;
  height: auto;
}

.tvVideo {
  position: absolute;
  z-index: 1;
  width: 72.7%;
  height: auto;
  top: 20%;
  left: 13.2%;
}

/* section3 styles */

.animationContainer {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.animationImage {
  max-width: 100%;
  height: auto;
}

.animationBox {
  position: relative;
  margin: 0 auto;
  z-index: 10;
  top: 0px;
  left: 2px;
  width: 100%;
  min-width: 270px;
  max-width: 500px;
  height: 80px;
  border: gray solid 2px;
  border-radius: 10px;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.boxshotContainer {
  width: 35px;
  margin-left: 8px;
  margin-right: 10px;
}

.animationTextContainer {
  flex-grow: 1;
  height: 43px;
  text-align: left;
}

.gifContainer {
  width: 50px;
}

.boxshotImage {
  width: 100%;
  height: auto;
}

.gifImage {
  width: 80%;
  height: auto;
}
