.section1 {
  width: 100%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85) 0,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.93) 100%
    ),
    url("/public/assets/storytime-2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
}

.main {
  height: 600px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1370px;
  margin: 0 auto;
}

.membershipContainer {
  flex-basis: 87%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1rem;
}

@media (max-width: 960px) {
  .main {
    height: 440px;
  }
}
