.section {
  height: 100%;
  min-height: 560px;
  background-color: black;
  padding: 50px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.textContainer {
  text-align: center;
  flex-basis: 100%;
}

.mediaContainer {
  position: relative;
  flex-basis: 100%;
}

.tvContainer {
  position: relative;
}

.tvImage {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
}

.videoContainer {
  width: 100%;
  height: auto;
}

.tvVideo {
  position: absolute;
  z-index: 1;
  width: 72.7%;
  height: auto;
  top: 20%;
  left: 13.2%;
}

@media (min-width: 960px) {
  .section {
    display: flex;
    min-height: auto;
    gap: 10%;
    padding: 70px 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .textContainer {
    flex-basis: 45%;
    text-align: left;
  }

  .mediaContainer {
    flex-basis: 45%;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}
